<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>apiculture</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
    <header>
        <nav>
            <ul id="firstMenu">
                <li><a href="{% url 'index' %}">ACCUEIL</a></li>
                <li><a href="{% url 'cours_index' %}">COURS</a></li>
                <li><a href="{% url 'forum' %}">FORUM</a></li>
                <!-- <li><a href="{% url 'shop' %}">SHOP</a></li> -->
            </ul>
            {% if request.user.is_authenticated %}
            <ul id="secondMenu">
                <li><a href="{% url 'user_logout' %}">Se déconnecter</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <a>Mention Legal</a>
    </footer>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>