{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<div id="cours_list_block">
    <div class="cours_list">
        <h2>Liste des évènements</h2>
        {% if request.user.is_superuser %}
        <div>
            <a href="{% url 'cours_creation' %}">Créer un cours</a>
        </div>
        {% endif %}
    </div>
    {% for cours in list %}
    <div id="{{ cours.id }}" class="cours_list">
        <h2>
            {{ cours.name }}{% if cours.published == False %} (non publié!){% endif %}
        </h2>
        <div class="desc_and_del">
            <div class="desc">
                {{ cours.description }}
            </div>
            <div class="coursURL">
                <a href="{% url 'cours' cours_id=cours.id %}">Consulter</a>
            </div>
            {% if request.user.is_superuser %}
            <div class="coursOptions">
                <form class="user" method="post">
                    {% csrf_token %}
                    <button class="coursIndexBTN" type="submit" name="modify" value="{{ cours.id }}">Modifier</button>
                    {% if cours.published %}
                    <button class="coursIndexBTN" type="submit" name="unpublished" value="{{ cours.id }}">Dépublier</button>
                    {% else %}
                    <button class="coursIndexBTN" type="submit" name="published" value="{{ cours.id }}">Publier</button>
                    {% endif %}
                    <button class="coursIndexBTN" type="submit" name="delete" value="{{ cours.id }}">Supprimer</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div>
    pages: {% for num_page in list.paginator.page_range %} <a href="?page={{num_page}}">{{num_page}}</a>
    {% endfor %}
</div>
{% if list.has_previous %}
<div class="pagination">
    <a href="{% url 'cours_index'%}?page={{ list.previous_page_number }}">page précédente</a>
</div>
{% endif %}
{% if list.has_next %}
<div class="pagination">
    <a href="{% url 'cours_index'%}?page={{ list.next_page_number }}">page suivante</a>
</div>
{% endif %}
{% endblock %}