{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cours_index.css' %}" />
{% if request.user.is_authenticated %}
<div>
    <a href="{% url 'cours_creation' %}">Créer un cours</a>
</div>
{% endif %}
<div id="cours_list_block">
    {% for cours in list %}
    <div id="{{ cours.id }}" class="cours_list">
        <h2>
            {{ cours.name }}
        </h2>
        <div class="desc_and_del">
            <div class="desc">
                {{ cours.description }}
            </div>
            <div>
                <a href="{% url 'cours' cours_id=cours.id %}">Consulter</a>
            </div>
            {% if request.user.is_authenticated %}
            <div>
                <form class="user" method="post">
                    {% csrf_token %}
                    <button type="submit" name="modify" value="{{ cours.id }}">Modifier</button>
                    <button type="submit" name="unpublished" value="{{ cours.id }}">Dépublier</button>
                    <button type="submit" name="delete" value="{{ cours.id }}">Supprimer</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% if list.has_previous %}
    <div class="pagination">
        <p>avant</p>
    </div>
{% endif %}
{% if list.has_next %}
    <div class="pagination">
        <p>après</p>
    </div>
{% endif %}
{% endblock %}