{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<div id="cours_list_block">
    <div class="cours_list">
        {% if list %}
        <h2>Liste des cours:</h2>
        {% else %}
        <h2>Aucun cours pour le moment</h2>
        {% endif %}
        {% if request.user.is_superuser %}
        <div id="linkContainer">
            <div class="link insideContainer">
                <a href="{% url 'cours_creation' %}">Créer un cours</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% for cours in list %}
    <div class="cours_list">
        <h2>
            {{ cours.name }}{% if cours.published == False %} (non publié!){% endif %}
        </h2>
        <div class="desc_and_del">
            <div class="desc">
                {{ cours.description }}
            </div>
            <div class="coursURL">
                <a href="{% url 'cours' cours_id=cours.id %}">Consulter</a>
            </div>
            {% if request.user.is_superuser %}
            <div class="coursOptions">
                <form class="user" method="post">
                    {% csrf_token %}
                    {% if cours.published %}
                    <button class="coursIndexBTN" type="submit" name="unpublished" value="{{ cours.id }}">Dépublier</button>
                    {% else %}
                    <button class="coursIndexBTN" type="submit" name="published" value="{{ cours.id }}">Publier</button>
                    {% endif %}
                    <button class="coursIndexBTN" type="submit" name="delete" value="{{ cours.id }}">Supprimer</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}