{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<div id="cours_list_block">
    <div class="cours_list">
        <h2>Liste des évènements</h2>
        <div id="linkContainer">
            <div class="link insideContainer">
                <a href="{% url 'event_creation' %}">Créer un évènement</a>
            </div>
        </div>
    </div>
    {% if events %}
    {% for event in events %}
    <div id="{{ event.id }}" class="cours_list">
        <h2>
            {{ event.name }}{% if event.published == False %} (non publié!){% endif %}
        </h2>
        <div class="desc_and_del">
            <div class="desc">
                {{ event.description|safe }}
            </div>
            <div class="coursURL">
                <a class="coursIndexBTN" href="{% url 'event_modif' event_id=event.id %}">Modifier</a>
            </div>
            <div class="coursOptions">
                <form class="user" method="post">
                    {% csrf_token %}
                    {% if event.published %}
                    <button class="coursIndexBTN" type="submit" name="unpublished" value="{{ event.id }}">Dépublier</button>
                    {% else %}
                    <button class="coursIndexBTN" type="submit" name="published" value="{{ event.id }}">Publier</button>
                    {% endif %}
                    <button class="coursIndexBTN" type="submit" name="delete" value="{{ event.id }}">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="cours_list">
        <h3>Aucun évenement!</h3>
    </div>
    {% endif %}
</div>
{% endblock %}