{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<div class="container" id="userAdmnCont">
    <div class="cours_list whiteL">
        <h1 class="interline">Création d'évènement</h1>
        <form class="user" method="post" style="width:90%">
            {% csrf_token %}
            <div class="interline">
                <label for="{{ form.name.id_for_label }}">Nom du l'évènement:</label>
                {{ form.name }}
            </div>
            <div class="interline">
                <label for="{{ form.description.id_for_label }}">Description de l'évènement:</label>
                {{ form.description }}
            </div>
            <div class="interline">
                <button class="coursIndexBTN" type="submit" name="register" value="register">Enregistrer</button>
                <button class="coursIndexBTN" type="submit" name="publish" value="publish">Publier</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}