<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appiculture</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>accueil</li>
                <li>forum</li>
                <li>shop</li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <img>
            <h1>Nom</h1>
        </div>
        <div>Présentation Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae non aliquid quod minima architecto laudantium quidem sit voluptate aut blanditiis culpa iusto ullam ex, eius officia pariatur, delectus similique consequuntur.</div>
        <div>
            <a>Forum</a>
            <a>Shop</a>
        </div>
        <div>Event Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, id sint nam minima, optio cumque eius deleniti neque amet voluptas error maiores soluta quibusdam sapiente doloremque, aliquam consectetur perspiciatis minus.</div>
    </main>
    <footer>
        <a>Mention Legal</a>
    </footer>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>