{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div id="lineIndexTop">
        <p class="whiteL">Bienvenue sur le site de &nbsp;<h1 class="whiteL">l'Association des Apiculteurs de Rouen</h1>.</p>
    </div>
    <div class="line lone whiteL" id="about">
        <p class="aboutElem">Site crée par Valentin Robin (Elmasta)</p>
        <p class="aboutElem">Site fonctionnant sous Python avec Django comme framework</p>
        <p class="aboutElem">Base pour le source code de la partie forum par Selmi Abderrahim</p>
        <p class="aboutElem">Chaque logos et images appartiennent à leur propriétaire respectif</p>
    </div>
</div>
{% endblock %}