{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<div>
    <h1>Inscrivez vous!</h1>
</div>
<form class="user" method="post">
    {% csrf_token %}
    <div>
        <label for="{{ form.username.id_for_label }}">Pseudo</label>
        {{ form.username }}
    </div>
    <div>
        <label for="{{ form.password.id_for_label }}">Mot de passe</label>
        {{ form.password }}
    </div>
    <button type="submit">S'inscrire</button>
</form>
{% if errors %}
    <div>{{ errors }}</div>
{% endif %}
{% endblock %}