{% extends 'forum/base.html' %}
{% load hitcount_tags %}
{% block forum %}

<div class="container">
    <!--Navigation-->
    <div class="navigate">
        <span><a href="{% url 'forum' %}">Forum</a> >> <a
                href="{{post.categories.get_url}}">{{post.categories}}</a> >> <a
                href="{{post.get_url}}">{{post.title}}</a></span>
    </div>

    <!--Topic Section-->
    <div class="topic-container">
        <!--Original thread-->
        <div class="head">
            <div class="authors">Auteur</div>
            <div class="content">Sujet: {{post.title}} (Read {% get_hit_count for post %} Times)</div>
        </div>

        <div class="body">
            <div class="authors">
                <div class="username"><a class="forumLink" href="">{{post.user.username|title}}</a></div>
                <div>Role</div>
                <div>Posts: <u>{{post.user.num_posts}}</u></div>
            </div>
            <div class="content">
                <p style="color:aqua">Ceci est le premier post du topic</p>
                {{post.content|safe}}
            </div>
        </div>
        {% for reply in replies %}
        <div class="body">
            <div class="authors">
                <div class="username"><a class="forumLink" href="">{{reply.user.username|title}}</a></div>
                <div>Role</div>
                <div>Posts: <u>{{post.user.num_posts}}</u></div>
            </div>
            <div class="content">
                {{reply.content|safe}}
            </div>
        </div>
        {% endfor %}
    </div>
    <!--Pagination starts-->
    
    <div class="pagination">
        pages: {% for num_page in replies.paginator.page_range %} <a href="?page={{num_page}}">{{num_page}}</a>
        {% endfor %}
    </div>
    
    <!--pagination ends-->
</div>
{{ block.super }}
{% endblock forum %}