{% extends 'forum/base.html' %}
{% load hitcount_tags %}
{% block forum %}

<div class="container">
    <!--Navigation-->
    <div class="navigate">
        <span><a href="{% url 'forum' %}">Forum</a> >> <a href="{{post.categories.get_url}}">{{post.categories}}</a> >>
            <a href="{{post.get_url}}">{{post.title}}</a></span>
    </div>

    <!--Topic Section-->
    <div class="topic-container">
        <!--Original thread-->
        <div class="head roundedEdges">
            <div class="authors">Auteur</div>
            <div class="content">Sujet: {{post.title}} (lu {% get_hit_count for post %} fois)</div>
        </div>

        <div class="body roundedEdges">
            <div class="authors">
                {% if post.user %}
                <div class="username forumLink">{{post.user.user.username|title}}</div>
                {% else %}
                <div>Utilisateur Suprimé</div>
                {% endif %}
                {% if post.user.is_moderator %}
                <div>Role: Modérateur</div>
                {% elif post.user.is_banned %}
                <div>Utilisateur banni</div>
                {% elif post.user is None %}
                <div>Utilisateur Suprimé</div>
                {% else %}
                <div>Role: Utilisateur</div>
                {% endif %}
            </div>
            <div class="content">
                <p style="color:rgb(253, 123, 123)">Ceci est le premier message du sujet</p>
                {{post.content|safe}}
            </div>
        </div>
        {% for reply in replies %}
        <div class="body roundedEdges">
            <div class="authors">
                {% if reply.user.is_moderator %}
                <div class="username forumLink">{{reply.user.user.username|title}}</div>
                <div>Role: Modérateur</div>
                {% elif reply.user.is_banned %}
                <div class="username forumLink" style="color:gray">{{reply.user.user.username|title}}</div>
                <div>Utilisateur banni</div>
                {% elif reply.user.user is None %}
                <div class="username forumLink" style="color:gray">Utilisateur suprimé</div>
                <div>Utilisateur suprimé</div>
                {% else %}
                <div class="username forumLink">{{reply.user.user.username|title}}</div>
                <div>Role: Utilisateur</div>
                {% endif %}
            </div>
            <div class="content">
                {{reply.content|safe}}
            </div>
        </div>
        {% endfor %}
        <div class="body roundedEdges">
            <form class="summernote" method="post">
                {% csrf_token %}
                <div class="summernote">
                    <label for="{{ form.content.id_for_label }}">Répondre au sujet</label>
                    {{ form.content }}
                </div>
                <button type="submit" id="send" class="formButton">Envoyer</button>
            </form>
        </div>
    </div>

    <!--Pagination starts-->
    <div class="pagination">
        {% if replies.has_next or replies.has_previous %}
        pages: {% for num_page in replies.paginator.page_range %} <a href="?page={{num_page}}">{{num_page}}</a>
        {% endfor %}
        {% endif %}
    </div>
    <!--pagination ends-->
</div>
{{ block.super }}
{% endblock forum %}