{% extends 'forum/base.html' %}

{% block forum %}

<div class="container">
    <div class="subforum">
        {% if forums %}
        <div class="subforum-title">
            <h1 id="hForum">Information générale</h1>
        </div>

        {% for forum in forums %}
        <div class="subforum-row">
            <div class="subforum-description subforum-column">
                <div>
                    <h4><a class="cyanLinks" href="{{forum.get_url}}">{{forum.title}}</a></h4>
                    <p>Description: {{forum.description}} </p>
                </div>
                <div>
                    {% if member.is_moderator %}
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="delete" class="catButton" value="{{ forum.id }}">Supprimer la catégorie</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="subforum-stats subforum-column center">
                {% if forum.num_posts > 0 %}
                <span>{{forum.num_posts}} Sujet(s)</span>
                {% else %}
                <span>Aucun Sujet</span>
                {% endif %}
            </div>
            <div class="subforum-info subforum-column">
                {% if forum.last_post and forum.num_posts > 0 %}
                <b><a class="cyanLinks" href="{{forum.last_post.get_url}}">Dernier sujet</a></b> par
                {{forum.last_post.user|title}}
                <br>le <small>{{forum.last_post.date|date}}</small>
                {% else %}
                <span>Aucun sujet dans cette catégorie.</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="subforum-title">
            <h1><i class="fa fa-frown-o"></i>&nbsp;Aucune catégorie!</h1>
        </div>
        {% endif %}
        {% if member.is_moderator %}
        <div class="line lone whiteL catForm" id="addCatCon">
            <h3 id="addCatTitle">Ajouter une catégorie</h3>
            <form method="post" class="catForm">
                {% csrf_token %}
                <div class="formCatCon">
                    <label class="catLabel" for="{{ form.title.id_for_label }}">Titre de la catégorie (50 caractères maximum):</label>
                    {{ form.title }}
                </div>
                <div class="formCatCon">
                    <label class="catLabel" for="{{ form.description.id_for_label }}">Description de la catégorie:</label>
                    {{ form.description }}
                </div>
                <button type="submit" name="create" class="catButton" value="create">Ajouter la catégorie</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<!-- Forum Info -->
<div class="forum-info">
    <div class="chart">
        Statistiques du forum &nbsp;<i class="fa fa-bar-chart"></i>
    </div>
    <span><u>{{num_posts}}</u> sujet(s) dans <u>{{num_categories}}</u> Catégorie(s) par <u>{{num_users}}</u>
        Membres.</span><br>
    {% if forums %}
    <span>Dernier sujet: <b><a class="cyanLinks" href="{{last_post.get_url}}">"{{last_post.title}}"</a></b> le
        {{last_post.date|date}} par {{last_post.user.user.username|title}}</span>.<br>
    {% endif %}
</div>
{% endblock forum %}