{% extends 'forum/base.html' %}
{% load hitcount_tags %}
{% block forum %}
<div class="container">
    <!--Navigation-->
    <div class="navigate">
        <span><a href="{% url 'forum' %}">Forum</a> >> <a href="{{default_page}}">{{forum.title}}</a></span>
    </div>
    <div id="createSubject">
        <a href="">Créer un sujet</a>
    </div>
    {% if posts %}
    <!--Display posts table-->
    <div class="posts-table">
        <div class="table-head">
            <div class="status roundedEdges">Status</div>
            <div class="subjects roundedEdges">Sujet</div>
            <div class="replies roundedEdges">Réponses/Vue(s)</div>
            <div class="last-reply roundedEdges">Dernière réponse</div>
        </div>

        {% for post in posts %}
        <div class="table-row">

            <div class="status roundedEdges">
                {% if post.closed %}
                <i class="fa fa-lock"></i>
                {% if member.is_moderator %}
                <button>Ouvrir le sujet</button>
                {% endif %}
                {% else %}
                <i class="fa fa-unlock-alt"></i>
                {% if member.is_moderator %}
                <button>Clore le sujet</button>
                {% endif %}
                {% endif %}
            </div>

            <div class="subjects roundedEdges">
                <a class="cyanLinks" href="{{post.get_url}}">{{post.title}}</a>
                <br>
                <span>Débuté par <b>
                    {% if post.user.user is None %}
                    Utilisateur suprimé
                    {% else %}
                    {{post.user.user.username|title}}
                    {% endif %}
                </b> .</span>
            </div>
            <div class="replies">
                {{post.num_comments}} réponses <br> Vue {% get_hit_count for post %} fois.
            </div>

            {% if post.last_reply %}
            <div class="last-reply roundedEdges">
                le {{post.last_reply.date|date}}
                <br>Par <b>
                    {% if post.last_reply.user.user is None %}
                    Utilisateur suprimé
                    {% else %}
                    {{post.last_reply.user.user.username|title}}
                    {% endif %}
                </b>
            </div>
            {% else %}
            <div class="last-reply roundedEdges">
                le {{post.date|date}}
                <br>Par <b>
                    {% if post.user.user is None %}
                    Utilisateur suprimé
                    {% else %}
                    {{post.user.user.username|title}}
                    {% endif %}
                </b>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <div class="subforum-title roundedEdges" id="noTopic">
            <h1><i class="fa fa-frown-o"></i>&nbsp;Il n'y a pas de sujet pour l'instant.</h1>
        </div>
        {% endif %}
    </div>
    <!--Pagination starts-->
    <div class="pagination">
        {% if posts %}
        {% if posts.has_next or posts.has_previous %}
        pages: {% for num_page in posts.paginator.page_range %}
         <a href="?page={{num_page}}">{{num_page}}</a>
        {% endfor %}
        {% endif %}
        {% endif %}
    </div>
    <!--pagination ends-->
</div>
{{ block.super }}
{% endblock forum %}